[Desktop Entry]
Version=1.0
Type=Application
Name=Multiplication Torture
Comment=Starts Multiplication Torture at login
Exec=/bin/bash -c 'sleep 3 && exec /home/owendoyaladastra/dist/MultiplicationTorture'
Icon=/home/owendoyaladastra/graham_math_icon.png
Terminal=false
Categories=Education;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0
StartupNotify=false